.hi{
    text-align: center;
    padding-top: 5rem;
}

.space{
    padding: 1rem;
}

.profile{
    text-align: center;
}

.box{
    margin: 1rem;
}

.card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
@media only screen and (min-width: 768px) {
    .card-box{
        flex-direction: row;
    }
}

.icon{
    margin: 1rem;
}

.footer{
    margin-top: 10rem;
}

.form-intro{
    padding: 2rem;
}

.form-body{
    padding: 2rem;
}

.subtitle{
    font-weight: bold;
}

.box-col{
    text-align: center;
}

.count-card{
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.count{
    font-size: 1.5rem;
}